body.alam {
    font-family: Arial;
    background: linear-gradient(#a8e6cf, #dcedc1);
    padding: 20px;
}

h2 {
    color: #2e7d32;
}

input, textarea, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: #388e3c;
    color: white;
    border: none;
    cursor: pointer;
}
